{% extends "GRsystem/index.html" %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<style>
body
{

    background-color: #51b459 !important;
    
}
img{
  width:100%;
  height:100%;
}
.card
{
  border:#007bff !important;
}
</style>
          {% load static %}
 <br>
 <br> 
<center>
    
                <div class="ml-3">
                  <p style="color:rgb(15, 240, 27); font-size:40px;"> <b>Yabatech Complaint System</b></p>
        <p style="color:white; text-align:justify;">

                 Yabatech Complaint  System is a mechanism to receive and act on complaints and
                  grievances reported by Student.
            
             Complaints may be handled directly by organizations through their own websites or through call centers.
           
                </p>

              </center>

</div>

 {% load static %}
 


  {% endblock %}